backend/simple_model/dataset_tsmc2014/
frontend/node_modules
frontend/.env
backend/.env
.venv
__pycache__
backend/simple_model/statistics
backend/simple_model/centralized_statistics
backend/simple_model/nyc_user_map.html
